<div id="habilidades">
  <div class="container mx-auto px-4 py-9">
    </div>
  <!-- Título -->
  <h1 class="justify-items-center text-shadow text-white text-5xl font-bold text-center mb-20">Habilidades</h1>
</div>

<!-- Contenedor de Habilidades-->

<div class="container mx-auto px-4 py-8 justify-items-center">

  <!-- Habilidades Técnicas y Blandas-->
  <div class="justify-items-center flex flex-wrap justify-center gap-x-8">

    <!-- Habilidades Técnicas -->
    <div class="mb-4 block max-w-md p-6 bg-black bg-opacity-50 rounded-lg shadow dark:bg-gray-800 justify-items-center">

      <!-- Título -->
      <h1 class="custom-h1-color text-3xl font-bold text-center mb-10">Habilidades técnicas</h1>

      <!-- Descripción -->
      <p class="text-left text-md text-white mt-4 max-w-2xl mx-auto">
        <span class="font-bold">Lenguajes: </span>
        <span class="text-gray-300">C#, Java, Python, C++, TypeScript, JavaScript, HTML, CSS, SQL y R.</span>
      </p>

      <p class="text-left text-md text-white mt-4 max-w-2xl mx-auto">
        <span class="font-bold">Frameworks: </span>
        <span class="text-gray-300">ASP.NET Core, Next.js, Angular, Ionic, Django, FastAPI y Unity.</span>
      </p>

      <p class="text-left text-md text-white mt-4 max-w-2xl mx-auto ">
        <span class="font-bold"> Herramientas: </span>
        <span class="text-gray-300">Visual Studio, Postman, Github, Visual Paradigm, UML, Figma, Unity (2D, 3D, AR), Vuforia, Excel, Render, Vercel, Linux CLI, PowerBI, ApacheSpark y MySQL.</span>
      </p>

      <!-- Etiquetas de Conocimiento -->
      <div class="grid grid-cols-2 gap-2 justify-center mt-6 max-w-xl mx-auto py-2">
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Desarrollo Full Stack
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Desarrollo web/móvil
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Análisis de datos
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Bases de datos
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Machine Learning
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Prototipado y diseño
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Big Data
        </div>
        <div class="border-2 border-blue-800 inline-flex items-center justify-center px-2 py-2 w-42 text-sm font-medium text-center text-white bg-transparent border rounded-lg">
          Desarrollo videojuego
        </div>
      </div>

    </div>

    <!-- Habilidades Blandas -->
    <div class="mb-4 block max-w-md p-6 bg-black bg-opacity-50 rounded-lg shadow dark:bg-gray-800 justify-items-center">
      <!-- Título -->
      <h1 class="custom-h1-color text-3xl font-bold text-center mb-10">Habilidades blandas</h1>

      <!-- Línea de tiempo vertical -->
      <div class="relative pl-8">
        <!-- Línea vertical -->
        <div class="absolute top-0 left-3.5 w-0.5 h-full bg-gray-700">
        </div>

        <!-- Habilidad 1 -->
        <div class="flex items-start mb-8">

          <span class="flex-shrink-0 w-3 h-3 rounded-full bg-blue-800 mt-2 mr-4 absolute left-2"></span>

          <div>
            <p class="text-left text-md text-white">
              <span class="font-bold">Comunicación efectiva: </span>
              <span class="text-gray-300">Expreso ideas de forma clara, activa y ajustada a distintos públicos.</span>
            </p>
          </div>

        </div>
        <!-- Habilidad 2 -->
        <div class="flex items-start mb-8">

          <span class="flex-shrink-0 w-3 h-3 rounded-full bg-blue-800 mt-2 mr-4 absolute left-2"></span>

          <div>
            <p class="text-left text-md text-white">
              <span class="font-bold">Trabajo en equipo: </span>
              <span class="text-gray-300">Experiencia y adaptabilidad colaborando con equipos multidisciplinarios.</span>
            </p>
          </div>

        </div>

        <!-- Habilidad 3 -->
        <div class="flex items-start mb-8">
          <span class="flex-shrink-0 w-3 h-3 rounded-full bg-blue-800 mt-2 mr-4 absolute left-2"></span>

          <div>
            <p class="text-left text-md text-white">
              <span class="font-bold">Liderazgo: </span>
              <span class="text-gray-300">He liderado en proyectos, ayudantías y competencias, asumiendo responsabilidades con iniciativa, organización y motivación al equipo.</span>
              </p>
          </div>

        </div>

        <!-- Habilidad 4 -->
        <div class="flex items-start mb-8">
          <span class="flex-shrink-0 w-3 h-3 rounded-full bg-blue-800 mt-2 mr-4 absolute left-2"></span>

          <div>
            <p class="text-left text-md text-white">
              <span class="font-bold">Aprendizaje continuo y aplicado: </span>
              <span class="text-gray-300">Busco aprender activamente y aplicarlo en nuevos contextos. Me adapto rápido a entornos cambiantes.</span>
            </p>
          </div>

        </div>

        <!-- Habilidad 5 -->
        <div class="flex items-start">

          <span class="flex-shrink-0 w-3 h-3 rounded-full bg-blue-800 mt-2 mr-4 absolute left-2"></span>

          <div>
            <p class="text-left text-md text-white">
              <span class="font-bold">Resolución de problemas: </span>
              <span class="text-gray-300">Identifico áreas críticas y aplico soluciones eficientes, incluso bajo presión o con tiempo limitado.</span>
            </p>
          </div>

        </div>



      </div>
    </div>

  </div>
</div>
