<div class="container mx-auto px-4 py-8">
  <h1 class="text-white text-5xl font-bold text-center mb-10">Proyectos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <!-- Proyecto 1 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Tienda UCN</h5>
        <p class="mb-3 font-normal text-white">Plataforma de e-commerce con una API REST de backend en ASP.NET Core y clientes en Angular (web) e Ionic (móvil). Autenticación de usuarios con JWT, gestión de productos, carrito de compras, procesos de pago, administración de clientes y ventas, manejo de imágenes en la nube, roles de administrador y cliente.</p>
        <p class="mb-3 font-normal text-white"><span class="font-bold">Rol:</span> Líder de equipo, Programador Fullstack.</p>


        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/Intro-Desarrollo-Web-Movil/TallerIDWM-Frontend" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Frontend
          </a>
          <a href="https://github.com/Intro-Desarrollo-Web-Movil/TallerIDWM" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Backend
          </a>
        </div>
      </div>
    </div>

    <!-- Proyecto 4 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">SELENE</h5>
        <p class="mb-3 font-normal text-white">Videojuego 2D para PC de un solo jugador desarrollado en Unity.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Sinopsis:</span> Un valiente gato debe recuperar las almas perdidas en el más allá, descubriendo islas flotantes, resolviendo puzzles y combatiendo contra enemigos.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Rol:</span> Líder de equipo y Programador principal en funcionalidades, historia y diseño.</p>
        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/xPrismatico/Selene-2D" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Repositorio
          </a>
        </div>
      </div>
    </div>

    <!-- Proyecto 5 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">SELENE: Vuelta a casa</h5>
        <p class="mb-3 font-normal text-white">Videojuego 3D Hypercasual para Móviles y PC con 1 o 2 jugadores desarrollado en Unity.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Sinopsis:</span> Un Gato de capa roja regresa a la vida y debe volver a su hogar en un camino desafiante entre dimensiones, proyectiles, obstáculos y enemigos. ¡Mejora tus poderes, consigue monedas, comida y personaliza a tu personaje!</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Rol:</span> Líder de equipo y Programador principal en funcionalidades, historia y diseño.</p>
        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/Team-xe/Proyecto-PIPA" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Repositorio
          </a>
        </div>
      </div>
    </div>

    <!-- Proyecto 4 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">SELENE</h5>
        <p class="mb-3 font-normal text-white">Videojuego 2D para PC de un solo jugador desarrollado en Unity.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Sinopsis:</span> Un valiente gato debe recuperar las almas perdidas en el más allá, descubriendo islas flotantes, resolviendo puzzles y combatiendo contra enemigos.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Rol:</span> Líder de equipo y Programador principal en funcionalidades, historia y diseño.</p>
        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/xPrismatico/Selene-2D" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Repositorio
          </a>
        </div>
      </div>
    </div>

    <!-- Proyecto 5 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">SELENE: Vuelta a casa</h5>
        <p class="mb-3 font-normal text-white">Videojuego 3D Hypercasual para Móviles y PC con 1 o 2 jugadores desarrollado en Unity.</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Sinopsis:</span> Un Gato de capa roja regresa a la vida y debe volver a su hogar en un camino desafiante entre dimensiones, proyectiles, obstáculos y enemigos. ¡Mejora tus poderes, consigue monedas, comida y personaliza a tu personaje!</p>
        <p class="mb-3 text-white font-normal"><span class="font-bold">Rol:</span> Líder de equipo y Programador principal en funcionalidades, historia y diseño.</p>
        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/Team-xe/Proyecto-PIPA" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Repositorio
          </a>
        </div>
      </div>
    </div>

    <!-- Proyecto 6 -->
    <div class="max-w-sm bg-transparent rounded-lg shadow">
      <img class="rounded-t-lg w-full h-48 object-cover" src="/projects/ecommerce.jpg" alt="Tienda UCN" />
      <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Tienda UCN</h5>
        <p class="mb-3 font-normal text-white">Plataforma de e-commerce con una API REST de backend en ASP.NET Core y clientes en Angular (web) e Ionic (móvil). Autenticación de usuarios con JWT, gestión de productos, carrito de compras, procesos de pago, administración de clientes y ventas, manejo de imágenes en la nube, roles de administrador y cliente.</p>
        <div class="flex flex-wrap gap-2">
          <a href="https://github.com/usuario/tienda-ucn-frontend" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Frontend
          </a>
          <a href="https://github.com/usuario/tienda-ucn-backend" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-white rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg>
            Backend
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
