<nav class="bg-black bg-opacity-30 backdrop-blur-md fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <!-- Logo o título (opcional) -->
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SF</span>
    </div>

    <!-- Botón hamburguesa para móviles -->
    <button (click)="toggleMenu()" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
            [attr.aria-expanded]="isMenuOpen">
      <span class="sr-only">Abrir menú principal</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>

    <!-- Menú de navegación -->
    <div [class]="isMenuOpen ? 'block w-full md:block md:w-auto' : 'hidden w-full md:block md:w-auto'" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-black bg-opacity-50 md:bg-transparent backdrop-blur-md md:backdrop-blur-none">
        <li>
          <a href="javascript:void(0);"
            [ngClass]="{'text-blue-500': activeSection === 'sobre-mi', 'text-white': activeSection !== 'sobre-mi'}"
            class="block py-2 px-3 rounded md:p-0 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500"
            (click)="scrollTo('sobre-mi')">
            Sobre mí
          </a>
        </li>
        <li>
          <a href="javascript:void(0);"
            [ngClass]="{'text-blue-500': activeSection === 'habilidades', 'text-white': activeSection !== 'habilidades'}"
            class="block py-2 px-3 rounded md:p-0 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500"
            (click)="scrollTo('habilidades')">
            Habilidades
          </a>
        </li>
        <li>
          <a href="javascript:void(0);"
            [ngClass]="{'text-blue-500': activeSection === 'proyectos', 'text-white': activeSection !== 'proyectos'}"
            class="block py-2 px-3 rounded md:p-0 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500"
            (click)="scrollTo('proyectos')">
            Proyectos
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/samuel-fuentes-ávila-178344228/" target="_blank"
            class="block py-2 px-3 text-white rounded md:p-0 hover:bg-gray-700 md:hover:bg-transparent md:hover:text-blue-500">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
