.avatar-bg {
  background-color: #14171d; /* Puedes cambiar este color al que prefieras */
}

.custom-h1-color {
  background: linear-gradient(to right, #ffbc2c, #ff920c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-shadow {
  text-shadow: 3px 3px 6px rgba(59, 51, 0, 0.7); /* Ajusta los valores según sea necesario */
}
