<portfolio-navbar></portfolio-navbar>


<div class="gradient-bg">

  <!--IMAGEN-->
  <div id="sobre-mi" class="flex flex-col items-center py-8">
    <portfolio-avatar></portfolio-avatar>
    <!--DESCRIPCION PERSONAL-->
    <p class="text-center text-xl text-white mt-4 max-w-2xl mx-4">Estudiante de Ingeniería Civil en Computación e Informática en la Universidad Católica del Norte de Antofagasta, Chile. Apasionado por desarrollar soluciones de software innovadoras, creativas y de calidad. Experiencia en liderazgo de proyectos de software. Aspirando a Ingeniero de Software y Desarrollador Web Fullstack.</p>
  </div>
  <!--ROL PROFESIONAL-->


  <!--HABILIDADES TÉCNICAS-->

  <!--HABILIDADES BLANDAS-->




  <!--PROYECTOS DESTACADOS-->
  <div id="proyectos">
    <div class="container mx-auto px-4 py-8">
    </div>
    <portfolio-card></portfolio-card>
  </div>


  <!--FORMULARIO DE CONTACTO-->




</div>


