


<div class="gradient-bg">
  <div class="pb-32">
    <portfolio-navbar></portfolio-navbar>
  </div>

  <!--SOBRE MI-->
  <div id="sobre-mi" class="flex flex-col items-center py-8">


    <!--AVATAR FOTO, NOMBRE, ROL-->
    <portfolio-avatar></portfolio-avatar>

    <!--DESCRIPCION PERSONAL-->
    <p class="text-shadow text-center text-xl text-gray-300 mt-4 max-w-2xl mx-4">
      Estudiante de Ingeniería Civil en Computación e Informática en la Universidad Católica del Norte de Antofagasta, Chile. Apasionado por desarrollar soluciones de software innovadoras, creativas y de calidad. Experiencia en liderazgo de proyectos de software.  He participado en hackatones, ayudantías y mentorías fortaleciendo habilidades.
    </p>

  </div>

  <!--REDES SOCIALES PROFESIONALES-->
  <div class="pb-16 flex justify-center space-x-4">
    <a href="https://www.linkedin.com/in/samuel-fuentes-ávila-178344228/"
       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-colorbtn rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 gradient-border">
      Linkedin
    </a>
    <a href="mailto:srfuentesavila@gmail.com"
       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-transparent border border-colorbtn rounded-lg hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-blue-300 gradient-border">
      Contáctame
    </a>
  </div>

  <!--HABILIDADES TÉCNICAS Y BLANDAS-->
  <div >
    <portfolio-info-card></portfolio-info-card>
  </div>


  <!--PROYECTOS DESTACADOS-->
  <div class="pb-32" id="proyectos">
    <div class="container mx-auto px-4 py-9">
    </div>
    <portfolio-card></portfolio-card>
  </div>


  <!--FORMULARIO DE CONTACTO-->
  <!--TO DO
  <div class="pb-32">
    <portfolio-form></portfolio-form>
  </div>
  -->

  <!--PIE DE PÁGINA-->
  <div>
    <footer class="bg-gray-900 text-white p-4">
        <div class="flex items-center justify-center space-x-4">
            <!-- GitHub icon -->
            <a href="https://github.com/xPrismatico" target="_blank" rel="noopener noreferrer" class="text-white">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.47 2 2 6.47 2 12c0 4.42 2.865 8.17 6.839 9.49.5.094.68-.217.68-.48v-1.68c-2.787.594-3.37-1.34-3.37-1.34-.455-1.15-1.11-1.455-1.11-1.455-.91-.62.07-.607.07-.607 1.005.07 1.535 1.03 1.535 1.03.895 1.51 2.35 1.07 2.92.82.095-.64.35-1.07.635-1.315-2.22-.25-4.55-1.11-4.55-4.95 0-1.1.39-2 1.035-2.7-.105-.25-.455-1.27.095-2.645 0 0 .84-.27 2.75 1.025a9.58 9.58 0 012.495-.335c.845 0 1.7.11 2.495.33 1.91-1.295 2.75-1.025 2.75-1.025.55 1.375.2 2.395.1 2.645.64.7 1.03 1.6 1.03 2.7 0 3.85-2.335 4.695-4.56 4.935.36.31.68.92.68 1.86v2.76c0 .26.18.57.69.47C19.14 20.165 22 16.42 22 12c0-5.53-4.47-10-10-10z"/>
                </svg>
            </a>

            <!-- LinkedIn icon -->
            <a href="https://www.linkedin.com/in/samuel-fuentes-ávila" target="_blank" rel="noopener noreferrer" class="text-white">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.38 3h13.24c1.5 0 2.75 1.25 2.75 2.75v13.5c0 1.5-1.25 2.75-2.75 2.75H5.38c-1.5 0-2.75-1.25-2.75-2.75V5.75C2.63 4.25 3.88 3 5.38 3zm13.24 16.75V8.43h-2.83v11.32h2.83zM9.5 8.43h2.83v11.32H9.5V8.43zM6.83 7.5c.69 0 1.25-.56 1.25-1.25S7.52 5 6.83 5c-.69 0-1.25.56-1.25 1.25S6.14 7.5 6.83 7.5zM7.13 8.43h-.01c-.92 0-1.67.75-1.67 1.67v8.67c0 .92.75 1.67 1.67 1.67h.01c.92 0 1.67-.75 1.67-1.67v-8.67c0-.92-.75-1.67-1.67-1.67z"/>
                </svg>
            </a>

            <!-- Email icon -->

            <a href="mailto:srfuentesavila@gmail.com">✉️​</a>
        </div>

        <!-- Copyright text -->
        <p class="text-center text-gray-400 mt-4">&copy; 2025 Samuel Fuentes</p>

    </footer>

  </div>
</div>
